Repository MeeTeamIdle/MeeTeam_FrontEnd, pull requests merged in 2024-01, with the labels that each got.

#22 feat: 새 밋팀 생성 페이지 유효성 검사 구현
  package-lock.json
  package.json
  src/App.tsx
  src/atom.tsx
  src/components/customSelect/CustomSelect.styled.ts
  src/components/customSelect/CustomSelect.tsx
  src/components/dateSelect/DateSelect.tsx
  src/components/infoItem/InfoItem.tsx
  src/pages/meeTeamCreatePage/MeeTeamCreatePage.styled.ts
  src/pages/meeTeamCreatePage/MeeTeamCreatePage.tsx
Labels: Priority: High, Status: Available, Type: Feature

#38 update: 통합관리페이지 & 새 밋팀 생성 & 구인글 생성 UI 및 기능 업데이트/수정
  src/assets/Alarm.svg
  src/assets/DropdownArrow.svg
  src/assets/Exit.svg
  src/assets/Plus.svg
  src/assets/Upload.svg
  src/assets/index.ts
  src/assets/react.svg
  src/atom.tsx
  src/components/alarm/Alarm.tsx
  src/components/dropdown/Dropdown.styled.ts
  src/components/dropdown/Dropdown.tsx
  src/components/dropdown/DropdownArrow.tsx
  src/components/index.ts
  src/components/meeteam/filter/Filter.styled.ts
  src/components/meeteam/filter/Filter.tsx
  src/components/meeteam/main/member/MemberData.tsx
  src/components/meeteam/main/member/MemberTest.tsx
  src/components/meeteam/memberCard/MemberCard.styled.ts
  src/components/meeteam/memberInviteModal/MemberInviteModal.styled.ts
  src/components/meeteam/memberInviteModal/MemberInviteModal.tsx
  src/components/meeteam/tag/Tag.tsx
  src/components/recruit/RecruitCard.styled.ts
  src/components/recruit/RecruitCard.tsx
  src/components/sidebar/Sidebar.tsx
  src/components/tag/MeeteamTag.styled.ts
  src/components/tag/MeeteamTag.tsx
  src/globalStyle.css
  src/main.tsx
  src/pages/RecruitPage.tsx
  src/pages/create/meeTeamCreatePage/MeeTeamCreatePage.styled.ts
  src/pages/create/meeTeamCreatePage/MeeTeamCreatePage.tsx
  src/pages/create/outputCreatePage/OutputCreatePage.tsx
  src/pages/create/recruitCreatePage/RecruitCreatePage.styled.ts
  src/pages/create/recruitCreatePage/RecruitCreatePage.tsx
  src/pages/index.ts
  src/pages/manage/activity/MyActivityManagePage.styled.ts
  src/pages/manage/activity/MyActivityManagePage.tsx
  src/pages/manage/meeteam/ManageMeeteamPage.styled.ts
  src/pages/manage/meeteam/ManageMeeteamPage.tsx
  src/pages/manage/portpolio/ManagePortpolio.styled.ts
  src/pages/manage/recruit/ManageRecruitPage.styled.ts
  src/pages/manage/recruit/ManageRecruitPage.tsx
  tsconfig.json
  vite.config.ts
Labels: Priority: High, Status: Available, Status: Review Needed, Type: Feature, Type: Improvement, Type: Refactor, Type: Style

#40 feat: 밋팀 관리 페이지 아이콘 새 이미지 주소 적용 및 케밥 메뉴, 새로고침 로직 변경 및 구인 마감일 설정 기능 추가 및 스타일 수정
  package-lock.json
  package.json
  src/atom.tsx
  src/components/Header/Header.tsx
  src/components/dateSelect/DeadlineSelect.styled.ts
  src/components/dateSelect/DeadlineSelect.tsx
  src/components/goBack/GoBack.tsx
  src/components/index.ts
  src/components/meeteam/Content.tsx
  src/components/meeteam/main/dashBoard/dashBoardLink/DashBoardLink.styled.ts
  src/components/meeteam/main/link/Link.styled.ts
  src/components/meeteam/main/link/Link.tsx
  src/components/meeteam/main/link/LinkData.tsx
  src/components/meeteam/main/member/MemberData.tsx
  src/components/meeteam/main/recruitment/RecruitmentDeadLine.tsx
  src/components/meeteam/main/recruitment/applicantView/ApplicantViewData.tsx
  src/components/meeteam/main/setting/Setting.tsx
  src/pages/managementPage/ManagementPage.tsx
  src/utils/SessionStorageEffect.ts
  src/utils/index.ts
Labels: Priority: Critical, Status: Available, Type: Feature, Type: Improvement, Type: Refactor, Type: Style

#43 feat: 구인 글 메인 페이지 & 구인 글 상세페이지 & 산출물 미리보기 페이지 구현
  package-lock.json
  package.json
  src/assets/LeftBtn.svg
  src/assets/RightBtn.svg
  src/assets/SearchIcon.svg
  src/assets/index.ts
  src/atom.tsx
  src/components/Header/Header.styled.ts
  src/components/Header/Header.tsx
  src/components/dateSelect/DateSelect.tsx
  src/components/dropdown/Dropdown.styled.ts
  src/components/index.ts
  src/components/infoItem/InfoItem.tsx
  src/components/meeteam/card/Card.styled.ts
  src/components/meeteam/card/Card.tsx
  src/components/meeteam/filter/Filter.styled.ts
  src/components/meeteam/filter/Filter.tsx
  src/components/meeteam/icon/Icon.tsx
  src/components/meeteam/requiredInformation/RequiredInformation.styled.ts
  src/components/meeteam/requiredInformation/RequiredInformation.tsx
  src/components/recruit/RecruitCard.styled.ts
  src/components/recruit/RecruitCard.tsx
  src/components/sidebar/Sidebar.styled.ts
  src/components/sidebar/Sidebar.tsx
  src/main.tsx
  src/pages/RecruitPage.styled.ts
  src/pages/RecruitPage.tsx
  src/pages/create/meeTeamCreatePage/MeeTeamCreatePage.styled.ts
  src/pages/create/meeTeamCreatePage/MeeTeamCreatePage.tsx
  src/pages/create/outputCreatePage/OutputCreatePage.styled.ts
  src/pages/create/outputCreatePage/OutputCreatePage.tsx
  src/pages/create/outputPreviewPage/OutputPreviewPage.styled.ts
  src/pages/create/outputPreviewPage/OutputPreviewPage.tsx
  src/pages/create/recruitCreatePage/RecruitCreatePage.styled.ts
  src/pages/create/recruitCreatePage/RecruitCreatePage.tsx
  src/pages/index.ts
  src/pages/manage/activity/MyActivityManagePage.styled.ts
  src/pages/manage/activity/MyActivityManagePage.tsx
  src/pages/manage/meeteam/ManageMeeteamPage.styled.ts
  src/pages/manage/portpolio/ManagePortpolio.styled.ts
  src/pages/manage/portpolio/ManagePortpolioPage.tsx
  src/pages/manage/recruit/ManageRecruitPage.tsx
  src/pages/recruit/RecruitDetailPage/RecruitDetailPage.styled.ts
  src/pages/recruit/RecruitDetailPage/RecruitDetailPage.tsx
  src/pages/recruit/RecruitDetailPage/steps/ApplyInfomation.styled.ts
  src/pages/recruit/RecruitDetailPage/steps/ApplyInfomation.tsx
  src/pages/recruit/RecruitDetailPage/steps/ApplyInput.styled.ts
  src/pages/recruit/RecruitDetailPage/steps/ApplyInput.tsx
  src/pages/recruit/RecruitDetailPage/steps/ApplySubmit.styled.ts
  src/pages/recruit/RecruitDetailPage/steps/ApplySubmit.tsx
  src/pages/recruit/RecruitPage/RecruitPage.styled.ts
  src/pages/recruit/RecruitPage/RecruitPage.tsx
Labels: Priority: High, Status: Available, Status: Review Needed, Type: Feature, Type: Style
