Repository MeeTeamIdle/MeeTeam_FrontEnd, pull requests merged in 2024-03, with the labels that each got.

#66 fix: 구인글 생성페이지 변경사항 작업
  src/api.tsx
  src/atom.tsx
  src/components/customSelect/CustomSelect.styled.ts
  src/components/customSelect/CustomSelect.tsx
  src/components/dateSelect/DateSelect.styled.ts
  src/components/dateSelect/DateSelect.tsx
  src/components/dateSelect/DeadlineSelect.styled.ts
  src/components/dateSelect/DeadlineSelect.tsx
  src/components/index.ts
  src/components/inputDropdown/InputDropdown.styled.ts
  src/components/inputDropdown/InputDropdown.tsx
  src/components/inputDropdown/inputContainer/InputContainer.styled.ts
  src/components/inputDropdown/inputContainer/InputContainer.tsx
  src/components/inputDropdown/inputCourse/InputCourse.styled.ts
  src/components/inputDropdown/inputCourse/InputCourse.tsx
  src/components/inputDropdown/inputCourse/InputProfessor.tsx
  src/components/inputDropdown/inputRole/InputRole.styled.ts
  src/components/inputDropdown/inputRole/InputRole.tsx
  src/components/inputDropdown/inputRole/InputRoleForm.styled.ts
  src/components/inputDropdown/inputRole/InputRoleForm.tsx
  src/components/inputDropdown/inputRole/InputRoleList.tsx
  src/components/meeteam/main/member/MemberData.tsx
  src/components/meeteam/main/member/MemberTest.tsx
  src/components/meeteam/memberInviteModal/MemberInviteModal.tsx
  src/components/memberSelect/MemberSelect.styled.ts
  src/components/memberSelect/MemberSelect.tsx
  src/components/optionMenu/recruitOptions/RecruitOptions.styled.ts
  src/components/optionMenu/recruitOptions/RecruitOptions.tsx
  src/components/tag/MeeteamTag.styled.ts
  src/components/tag/MeeteamTag.tsx
  src/components/title/subtitle/Subtitle.styled.ts
  src/components/title/subtitle/Subtitle.tsx
  src/components/title/titleAndIntro/TitleAndIntro.styled.ts
  src/components/title/titleAndIntro/TitleAndIntro.tsx
  src/hooks/index.ts
  src/hooks/useValid.tsx
  src/pages/create/outputCreatePage/OutputCreatePage.tsx
  src/pages/create/recruitCreatePage/RecruitCreatePage.styled.ts
  src/pages/create/recruitCreatePage/RecruitCreatePage.tsx
  src/pages/create/recruitCreatePage/wrappers/RecruitInfoWrapper.styled.ts
  src/pages/create/recruitCreatePage/wrappers/RecruitInfoWrapper.tsx
  src/pages/create/recruitCreatePage/wrappers/RecruitPostWrapper.styled.ts
  src/pages/create/recruitCreatePage/wrappers/RecruitPostWrapper.tsx
  src/pages/recruit/RecruitDetailPage/RecruitDetailPage.tsx
  src/pages/recruit/RecruitDetailPage/data.ts
  src/service/recruit/endPoint.ts
  src/types/index.ts
  src/types/information.ts
  src/utils/index.ts
  src/utils/simpleDate.ts
  src/utils/validation.ts
  tsconfig.json
Labels: Priority: Critical, Status: Available, Status: Review Needed, Type: Feature, Type: Improvement, Type: Refactor, Type: Style

#69 feat: 실시간 닉네임 중복 체크 API 연동
  package-lock.json
  package.json
  src/App.tsx
  src/components/meeteam/main/member/MemberData.tsx
  src/components/meeteam/main/member/MemberTest.tsx
  src/components/meeteam/main/recruitment/applicantView/ApplicantViewData.tsx
  src/components/meeteam/main/recruitment/applicantView/applicantCard/ApplicantCard.tsx
  src/components/meeteam/memberCard/MemberCard.tsx
  src/components/meeteam/memberContact/MemberContact.tsx
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useDebounce.ts
  src/main.tsx
  src/pages/account/signIn/SignInPage.tsx
  src/pages/account/signUp/SignUpData.ts
  src/pages/account/signUp/SignUpPage.tsx
  src/pages/account/signUp/nickNameSetting/NickNameSettingPage.styled.ts
  src/pages/account/signUp/nickNameSetting/NickNameSettingPage.tsx
  src/pages/account/signUp/nicknameSetting/NicknameSettingPage.styled.ts
  src/pages/account/signUp/nicknameSetting/NicknameSettingPage.tsx
  src/pages/account/validation.ts
  src/pages/index.ts
  src/service/auth/auth.ts
  src/service/endPoint.ts
  src/service/index.ts
  src/types/api.ts
  src/types/payload.ts
  src/types/response.ts
Labels: Priority: Medium, Status: Review Needed, Type: Feature

#74 feat: 프로필 상세 페이지 UI 및 기능 및 API 연동 구현
  src/assets/DefaultPortfolioImage.svg
  src/assets/DefaultProfileImage.svg
  src/assets/index.ts
  src/components/index.ts
  src/components/meeteam/main/dashBoard/dashBoardMember/DashBoardMember.tsx
  src/components/meeteam/main/member/MemberData.tsx
  src/components/meeteam/main/member/MemberTest.tsx
  src/components/meeteam/main/recruitment/applicantView/applicantCard/ApplicantCard.tsx
  src/components/meeteam/memberCard/MemberCard.tsx
  src/components/meeteam/memberContact/MemberContact.tsx
  src/components/portfolio/card/PortfolioCard.styled.ts
  src/components/portfolio/card/PortfolioCard.tsx
  src/components/profile/RadiusProfile.styled.ts
  src/components/profile/RadiusProfile.tsx
  src/components/profile/image/ProfileImage.styled.ts
  src/components/profile/image/ProfileImage.tsx
  src/components/skills/Skill.styled.ts
  src/components/skills/Skill.tsx
  src/hooks/index.ts
  src/hooks/useProfile.ts
  src/main.tsx
  src/pages/index.ts
  src/pages/profile/Profile.styled.ts
  src/pages/profile/ProfileDetailsPage.tsx
  src/pages/profile/userData.ts
  src/service/endPoint.ts
  src/service/index.ts
  src/service/user/Profile.ts
  src/types/index.ts
  src/types/payload.ts
  src/types/response.ts
  src/types/user.ts
Labels: Priority: Critical, Status: Review Needed, Type: Feature, Type: Style

#77 feat: 학교/학과 정보 조회 및 학사 정보 입력 API 연동
  src/assets/Search.svg
  src/assets/index.ts
  src/atom.tsx
  src/components/comboBox/ComboBox.styled.ts
  src/components/comboBox/ComboBox.tsx
  src/components/index.ts
  src/components/optionList/OptionList.styled.ts
  src/components/optionList/OptionList.tsx
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/pages/account/Account.styled.ts
  src/pages/account/schoolCertification/SchoolCertificationData.ts
  src/pages/account/schoolCertification/SchoolCertificationPage.styled.ts
  src/pages/account/schoolCertification/SchoolCertificationPage.tsx
  src/pages/account/signIn/SignInPage.tsx
  src/pages/account/signUp/SignUpPage.tsx
  src/pages/account/signUp/nicknameSetting/NicknameSettingPage.tsx
  src/service/auth/auth.ts
  src/service/endPoint.ts
  src/service/index.ts
  src/types/index.ts
  src/types/response.ts
  src/types/user.ts
Labels: Priority: Critical, Status: Review Needed, Type: Feature, Type: Style

#83 fix: #75 build 에러 수정
  src/components/header/Header.tsx
  src/components/inputDropdown/inputRole/InputRoleForm.tsx
  src/env.d.ts
  src/svg.d.ts
Labels: Priority: Critical, Status: Available, Type: Bug
